.encabezado-tareas {
    button {
        border: none;
        color: $rojoOscuro;
        background-color: $gris;
        border: 1px solid $rojoOscuro;
        padding: 1rem 3rem;
        margin-left: .5rem;
        font-weight: bold;
        margin-bottom: 2rem;
        transition: all .3s ease-in-out;
        &:hover {
            cursor: pointer;
            background-color: $rojoOscuro;
            color: $blanco;
        }
    }
}
.tabla-tareas {
    width: 100%;
    border-collapse: collapse;
    tr, th {
        border: 1px solid $gris;
        padding: .8rem;
        font-size: 1.8rem;
    }
    tr {
        &:nth-child(even) {
            background-color: $gris;
        }
    }
    th {
        padding: 1.2rem 0;
        background-color: $oscuroClaro;
        color: $blanco;
    }
    td {
        font-size: 1.8rem;
        padding: .8rem;

    }
}
.completada {
    color: $oscuroClaro;
    font-weight: bold;
}
.no-completada {
    color: $rojo;
    font-weight: bold;
}
.boton-accion {
    border: none;
    background-color: unset;
    &:hover {
        cursor: pointer;

    }
    &:nth-child(2) {
        color: $rojo;
    }
}