
.tabla-tareas {
    width: 100%;
    border-collapse: collapse;
    tr, th {
        border: 1px solid $gris;
        padding: .8rem;
        font-size: 1.8rem;
    }
    tr {
        &:nth-child(even) {
            background-color: $gris;
        }
    }
    th {
        padding: 1.2rem 0;
        background-color: $oscuroClaro;
        color: $blanco;
    }
    td {
        font-size: 1.8rem;
        padding: .8rem;

    }
}
.completada {
    color: $oscuroClaro;
    font-weight: bold;
}
.no-completada {
    color: $rojo;
    font-weight: bold;
}
.boton-accion {
    border: none;
    background-color: unset;
    &:hover {
        cursor: pointer;

    }
    &:nth-child(2) {
        color: $rojo;
    }
}